<!-- Sidebar Start -->
<div class="pt-3 pt-lg-0">
 <!-- Social Follow Start -->
 <div class="pb-3">
  <div class="bg-red py-2 px-4 mb-3">
   <h3 class="m-0">
    Follow Us
   </h3>
  </div>
  <div class="d-flex mb-3">
   <a class="d-block w-50 py-2 px-3 text-white text-decoration-none mr-2" href="#" style="background:#39569E;">
    <small class="fab fa-facebook-f mr-2">
    </small>
    <small>
     Facebook
    </small>
   </a>
   <a class="d-block w-50 py-2 px-3 text-white text-decoration-none ml-2" href="https://x.com" style="background:#464444;">
  <small class="fa-brands fa-x-twitter mr-2"></small>
  <small>X.com</small>
</a>
  </div>
  <div class="d-flex mb-3">
   <a class="d-block w-50 py-2 px-3 text-white text-decoration-none mr-2" href="#" style="background:#0185AE;">
    <small class="fab fa-linkedin-in mr-2">
    </small>
    <small>
     Linkedin
    </small>
   </a>
   <a class="d-block w-50 py-2 px-3 text-white text-decoration-none ml-2" href="#" style="background:#C8359D;">
    <small class="fab fa-instagram mr-2">
    </small>
    <small>
     Instagram
    </small>
   </a>
  </div>
  <div class="d-flex mb-3">
   <a class="d-block w-50 py-2 px-3 text-white text-decoration-none mr-2" href="#" style="background:#DC472E;">
    <small class="fab fa-youtube mr-2">
    </small>
    <small>
     Youtube
    </small>
   </a>
   <a class="d-block w-50 py-2 px-3 text-white text-decoration-none ml-2" href="#" style="background:#1AB7EA;">
    <small class="fab fa-vimeo-v mr-2">
    </small>
    <small>
     Vimeo
    </small>
   </a>
  </div>
 </div>
 <!-- Social Follow End -->
 <!-- Newsletter Start -->
 <div class="pb-3">
  <div class="bg-red py-2 px-4 mb-3">
   <h3 class="m-0">
    Newsletter
   </h3>
  </div>
  <div class="bg-dark text-center p-4 mb-3">
   <p>
    Signup today for free and be the first to get notified on new opportunities.
   </p>
   <form action="https://formsubmit.co/vishwakathejan@gmail.com" method="POST">
    <input name="_captcha" type="hidden" value="false"/>
    <div class="input-group" style="width: 100%;">
     <input class="form-control form-control-lg" name="email" placeholder="Your Email" required="" type="email"/>
     <div class="input-group-append">
      <button class="btn btn-primary" type="submit">
       Subscribe
      </button>
     </div>
    </div>
   </form>
   <small>
    © ScreamLine. All Rights Reserved.
   </small>
  </div>
 </div>
 <!-- Newsletter End -->
 <!-- Ads Start -->
 <div class="mb-3 pb-3">
  <a href="#">
   <img alt="" class="img-fluid" src="/ScreamLine/img/news-500x280-4.jpg"/>
  </a>
 </div>
 <!-- Ads End -->
 <!-- Popular News Start -->
 <div class="pb-3">
  <div class="bg-red py-2 px-4 mb-3">
   <h3 class="m-0">Trending</h3>
  </div>

  <div class="d-flex mb-3">
   <img src="/ScreamLine/img/music/https___www_rollingstone_com_music_music-news_the-beatles-bi.jpg" style="width: 100px; height: 100px; object-fit: cover;"/>
   <div class="w-100 d-flex flex-column justify-content-center bg-dark px-3" style="height: 100px;">
    <div class="mb-1" style="font-size: 13px;">
     <a class="text-danger" href="">Music</a>
     <span class="px-1">/</span>
     <span>October 31, 2025</span>
    </div>
    <a class="h6 m-0" href="/ScreamLine/trending/The_Beatles_Biopics_Reveal_the_Actresses_Playing_the_Fab_Fou.html">The Beatles Biopics Reveal the Actresses Playing...</a>
   </div>
  </div>

  <div class="d-flex mb-3">
   <img src="/ScreamLine/img/music/https___www_rollingstone_com_music_music-news_portugal-the-m.jpg" style="width: 100px; height: 100px; object-fit: cover;"/>
   <div class="w-100 d-flex flex-column justify-content-center bg-dark px-3" style="height: 100px;">
    <div class="mb-1" style="font-size: 13px;">
     <a class="text-danger" href="">Music</a>
     <span class="px-1">/</span>
     <span>October 31, 2025</span>
    </div>
    <a class="h6 m-0" href="/ScreamLine/trending/Portugal__The_Man_Adds_Fiddles__Folk_to_Kpop_Demon_Hunters.html">Portugal. The Man Adds Fiddles, Folk to...</a>
   </div>
  </div>

  <div class="d-flex mb-3">
   <img src="/ScreamLine/img/movies-tv/https___variety_com_2025_film_news_tokyo-double-happiness-mo.jpg" style="width: 100px; height: 100px; object-fit: cover;"/>
   <div class="w-100 d-flex flex-column justify-content-center bg-dark px-3" style="height: 100px;">
    <div class="mb-1" style="font-size: 13px;">
     <a class="text-danger" href="">Movies & TV Shows</a>
     <span class="px-1">/</span>
     <span>November 01, 2025</span>
    </div>
    <a class="h6 m-0" href="/ScreamLine/trending/Tokyo_Fest_Premiere__Double_Happiness__Boards_Moebius_for_As.html">Tokyo Fest Premiere ‘Double Happiness’ Boards Moebius...</a>
   </div>
  </div>

  <div class="d-flex mb-3">
   <img src="/ScreamLine/img/movies-tv/https___variety_com_2025_film_news_elvis-producer-joan-of-ar.jpg" style="width: 100px; height: 100px; object-fit: cover;"/>
   <div class="w-100 d-flex flex-column justify-content-center bg-dark px-3" style="height: 100px;">
    <div class="mb-1" style="font-size: 13px;">
     <a class="text-danger" href="">Movies & TV Shows</a>
     <span class="px-1">/</span>
     <span>November 01, 2025</span>
    </div>
    <a class="h6 m-0" href="/ScreamLine/trending/Elvis__Producer_Schuyler_Weiss_on_Baz_Luhrmann_s__Joan_of_A.html">‘Elvis’ Producer Schuyler Weiss on Baz Luhrmann’s...</a>
   </div>
  </div>

  <div class="d-flex mb-3">
   <img src="/ScreamLine/img/scifi/https___www_sciencenews_org_article_flower-emits-smell-ant-w.jpg" style="width: 100px; height: 100px; object-fit: cover;"/>
   <div class="w-100 d-flex flex-column justify-content-center bg-dark px-3" style="height: 100px;">
    <div class="mb-1" style="font-size: 13px;">
     <a class="text-danger" href="">Science</a>
     <span class="px-1">/</span>
     <span>October 30, 2025</span>
    </div>
    <a class="h6 m-0" href="/ScreamLine/trending/This_flower_smells_like_injured_ants___and_flies_can_t_resis.html">This flower smells like injured ants —...</a>
   </div>
  </div>
 </div>
<!-- Popular News End -->
 <!-- Tags Start -->
 <div class="pb-3">
  <div class="bg-dark py-2 px-4 mb-3">
   <h3 class="m-0">
    Tags
   </h3>
  </div>
  <div class="d-flex flex-wrap m-n1">
   <a class="btn btn-sm btn-outline-secondary m-1" href="#">
    Rock Music
   </a>
   <a class="btn btn-sm btn-outline-secondary m-1" href="#">
    Metal Music
   </a>
   <a class="btn btn-sm btn-outline-secondary m-1" href="#">
    Pop Music
   </a>
   <a class="btn btn-sm btn-outline-secondary m-1" href="#">
    Aliens
   </a>
   <a class="btn btn-sm btn-outline-secondary m-1" href="#">
    Space
   </a>
   <a class="btn btn-sm btn-outline-secondary m-1" href="#">
    Physics
   </a>
   <a class="btn btn-sm btn-outline-secondary m-1" href="#">
    Science
   </a>
   <a class="btn btn-sm btn-outline-secondary m-1" href="#">
    Experimental
   </a>
   <a class="btn btn-sm btn-outline-secondary m-1" href="#">
    Music Industry
   </a>
   <a class="btn btn-sm btn-outline-secondary m-1" href="#">
    Ghosts
   </a>
   <a class="btn btn-sm btn-outline-secondary m-1" href="#">
    Agnosism
   </a>
   <a class="btn btn-sm btn-outline-secondary m-1" href="#">
    Film Industry
   </a>
  </div>
 </div>
 <!-- Tags End -->
</div>
<!-- Sidebar End -->
